// $main-color: #fa0;

body {
  * {
    font-size: 12px;
    box-sizing: border-box;
    line-height: 1.4;
  }
}

a {
  color: #06c;
  text-decoration: none;

  &:hover {
    color: #ff9600;
    text-decoration: underline;
  }
}

.clearfix::after {
  display: block;
  content: '';
  clear: both;
}
